@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

 body {
        font-family: 'Inter', 'Noto Sans Arabic', 'Noto Sans SC', sans-serif;
      }
      .rtl {
        direction: rtl;
        font-family: 'Noto Sans Arabic', 'Inter', sans-serif;
      }
    